<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicInterop" version="0.8.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="R.NET" version="1.7.0" targetFramework="net461" />
  <package id="StackExchange.Redis" version="1.0.488" targetFramework="net461" />
  <package id="Takenet.Textc" version="0.2.28" targetFramework="net461" />
  <package id="Takenet.Textc.Extensions.Redis" version="0.2.28" targetFramework="net461" />
</packages>